<div style="background: rgb(0, 113, 206);">
    <footer class="page-footer font-small blue pt-4">
        <div class="container-footer">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <div class="d-flex font-16">¿Necesitas Ayuda?</div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/faq" target="_blank">Preguntas frecuentes</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/catalogo/help/servicio-tecnico" target="">Servicio técnico</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="http://walmartchile.paperless.cl/BoletaWeb/" target="_blank">Consulta tu boleta</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/devoluciones" target="_blank">Devoluciones y cambios</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.librodigitalchile.cl/Store/MenuLidercl/ODIw" target="_blank">Consultas y reclamos</a></div>
                </div>
                <div class="col-2">
                    <div class="d-flex font-16">Infórmate</div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/mediosdepago" target="_blank">Medios de pago</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/seguro" target="_blank">Pago 100% seguro</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/ganadoresconcursos" target="_blank">Ganadores de concursos</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/beneficios" target="_blank">Beneficios Lider.cl</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.tarjetaregalolider.cl/" target="_blank">Tarjeta de regalo</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.recetaslider.cl/" target="_blank">Recetas Lider</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.servifacil.cl/" target="_blank">Servifácil</a></div>
                </div>
                <div class="col-2">
                    <div class="d-flex font-16">Encuéntranos</div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/tiendas" target="_blank">Nuestros locales</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/pickup" target="_blank">Tiendas con Pickup</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/CoberturaSupermercado" target="_blank">Cobertura supermercado</a></div>
                </div>
                <div class="col-2">
                    <div class="d-flex font-16">Acerca de Lider</div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/acercadenosotros" target="_blank">Acerca de nosotros</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/terminos" target="_blank">Términos y condiciones</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/privacidad" target="_blank">Política de privacidad</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="https://www.lider.cl/supermercado/info/informacion-legal" target="_blank">Información legal</a></div>
                    <div class="d-flex mb-2 mt-2 text-left"><a class="font-weight-normal text-white" href="http://www.empleoswalmartchile.cl/" target="_blank">Trabaja en Lider</a></div>
                </div>
                <div class="col-2">
                    <div class="d-flex font-16">Síguenos</div>
                    <div class="d-flex">
                        <a href="https://www.twitter.com/lidercl" class="mr-20" target="_blank" rel="noopener noreferrer"><img alt="twitter-logo" src="../../../../assets/image/Twitter.svg" width="18"></a>
                        <a href="https://www.facebook.com/lidercl" class="mr-20" target="_blank" rel="noopener noreferrer"><img alt="facebook-logo" src="../../../../assets/image/Facebook.svg" width="18"></a>
                        <a href="https://www.youtube.com/user/supermercadoslider" class="mr-20" target="_blank" rel="noopener noreferrer"><img alt="youtube-logo" src="../../../../assets/image/Youtube.svg" width="18"></a>
                        <a href="https://www.instagram.com/lider_cl" target="_blank" rel="noopener noreferrer"><img alt="instagram-logo" src="../../../../assets/image/Instagram.svg" width="18"></a>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </footer>
</div>